.navbar-glass {
  background: inherit;
}

.navbar-glass:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 5000px rgba(255, 255, 255, .80);
  background: inherit;
}

.app-title {
  cursor: default;
}

