<div
  class="fade-in h-100"
  [ngClass]="{
    'clear-day-bg': iconString == '01d',
    'clear-night-bg': iconString == '01n',
    'cloudy-day-bg': iconString == '02d' || iconString == '03d' || iconString == '04d',
    'cloudy-night-bg': iconString == '02n' || iconString == '03n' || iconString == '04n',
    'rain-bg': iconString == '09d' || iconString == '09n' || iconString == '10d' || iconString == '10n',
    'storm-bg': iconString == '11d' || iconString == '11n',
    'snow-bg': iconString == '13d' || iconString == '13n',
    'mist-bg': iconString == '50d' || iconString == '50n'
  }"
  *ngIf="showWeather"
  [ngStyle]="{ 'cursor': (hasResult) ? 'default' : 'pointer' }"
  (click)="toggleDisplay($event)"
>
  <app-city-weather-card
    [cityName]="cityName"
    [description]="description"
    [temperature]="temperature"
    [hasResult]="hasResult"
    [weatherIcon]="weatherIcon"
    (editPressedChanges)="onEditPressed($event)"
  ></app-city-weather-card>
  <app-no-city-card
    [hasResult]="hasResult"
    [noResultFound]="noResultFound"
  ></app-no-city-card>
</div>
<img src="../../assets/130.jpg" style="display: none" />
<img src="../../assets/10107.jpg" style="display: none" />
<img src="../../assets/123Z_2012.w020.n001.932B.p15.932.jpg" style="display: none" />
<img src="../../assets/2248.jpg" style="display: none" />
<img src="../../assets/24833.jpg" style="display: none" />
<img src="../../assets/27059.jpg" style="display: none" />
<img src="../../assets/4122410.jpg" style="display: none" />
<img src="../../assets/4Z_2101.w017.n001.333A.p30.333.jpg" style="display: none" />
