<div class="col pt-3 weather-card">
  <div class="card h-100 inner-card" (click)="toggleDisplay()">
    <app-weather-card
      [ngClass]="(showWeather) ? 'h-100' : 'h-0'"
      [showWeather]="showWeather"
      [noResultFound]="noResultFound"
      [searchResult]="searchResult"
      (showWeatherChanges)="onShowWeatherChange($event)"
    ></app-weather-card>
    <app-search-form
      [ngClass]="(!showWeather) ? 'h-100' : 'h-0'"
      [(cityName)]="cityName"
      [showWeather]="showWeather"
      [onSubmitSearch]="onSubmitSearch"
    ></app-search-form>
  </div>
</div>

