<div class="fade-in h-100" *ngIf="!showWeather">
  <form class="h-100">
    <div class="container d-flex h-100">
      <div class="row no-gutters flex-fill justify-content-center align-self-center">
        <div class="col">
          <div class="form-group">
            <input
              class="form-control"
              formControlName="search"
              type="text"
              placeholder="Enter city"
              (click)="onClickTextInput($event)"
              (keyup)="onChangeTextInput($event)"
              [value]="cityName"
              appAutofocus
            />
          </div>
        </div>
        <div class="col col-3">
          <button
            class="btn btn-primary"
            type="submit"
            (click)="onClickButton($event)"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

